main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px); /* Ajusta si header/footer cambian */
    background-image: url('/home/imagenes/upscalemedia-transformed.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Formulario */
section {
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.72),   
        rgba(61, 109, 213, 1)    
    );
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 320px;
    text-align: center;
    color: white;
}

h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    text-align: left;
    color: rgb(0, 0, 0);
}

input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color:   rgba(255, 255, 255, 0.2);
}

input::placeholder {
    color: #e0e0e0;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #3DADFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #2980b9;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.form-buttons button {
    flex: 1;
    padding: 10px;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.form-buttons button[type="submit"] {
    background-color: #3DADFF;
    color: white;
}

.form-buttons button[type="submit"]:hover {
    background-color: #2980b9;
}

.form-buttons button[type="button"] {
    background-color: #0077B6;
    color: white;
}

.form-buttons button[type="button"]:hover {
    background-color: #005f8c;
}