body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: white;
}

.courses-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px;
}

.course-card {
  background: linear-gradient(to bottom, #ffffff, #d0eaff);
  border-radius: 15px;
  width: 250px;
  padding: 20px;
  color: #2c3e50;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.course-card img {
  width: 80px;
  margin-bottom: 15px;
}

.course-card h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.course-card p {
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 15px;
}

.course-card button {
  background-color: #00B4D8;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.course-card button:hover {
  background-color: #009ec2;
}

.full-background {
  background-image: url('/home/imagenes/upscalemedia-transformed.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: calc(100vh - 140px);
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}